<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" media="screen and (max-width:500px) and (min-width:300px)" href="/css/phone.css">   
    <link rel="stylesheet" href="/css/astyle.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

     <title>Youtube 2 MP3 Converter</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/PP">Privacy Policy</a></li>
        </ul>
    </nav>

    <h1 id="head2" style="color: #00235B;">Privacy Policy</h1>
    <p class="paragraph">This Privacy Policy explains how we collect, use and share your personal information while you use the Service. By using the Service you agree to the collection and use of your personal information in accordance with the Privacy Policy. This Privacy Policy forms part of our Terms of Service. We will review and may update this Privacy Policy from time to time. Any changes to this Privacy Policy will become effective when we post the revised Privacy Policy on this page.
    </p>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <!-- <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-gray-700">1. Data we collect</span>
            <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
          </div> -->
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">1. Data we collect</h2>
            <p class="leading-relaxed">The information we collect can be generally placed in following categories: data on how you use our Service and aggregate data on content you engage with. We may use this information to personalize and improve our services, to fulfill your requests and to analyze how you use our Service. We may provide this information to our partners, so that they, too, can provide you with an optimal experience, but we never disclose information to a partner in a manner that would identify you personally.</p>
            <br>
            <p class="leading-relaxed">Unless stated otherwise in this Privacy Policy, the personal data that you provide us will only be stored for as long as it is necessary for us to fulfill our obligations in respect of the provision of the Service. We processes your personal data only if you have provided consent to the processing of such data; or processing of the personal data is necessary for the execution of the agreement with the you; or the relevant personal data are made publicly available and are in the public domain; or the processing of the personal data should be carried out in accordance with the requirements of applicable law, a resolution of a court or a competent state or municipal authority.
</p>
<br>
             <p class="leading-relaxed"> We take technical, organizational and other measures or ensure their adoption to protect your personal data from unauthorized or accidental access, collection, storage, use, transfer, blocking or destruction, as well as from other illegal actions or accidental leaks. A secure HTTPS connection is used, providing a high degree of data security.
               </p>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
            <!-- <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="font-semibold title-font text-gray-700">1. Data we collect</span>
              <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
            </div> -->
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">2. Purposes of collection</h2>
              <p class="leading-relaxed">We use the information we collect about you to analyse the performance of the Service for marketing and strategic development purposes and maintain, improve or modify the Service, target and personalize advertisements that we display on the Service and other websites. We rely on its legitimate interests, described above, to process your data. We may also use information provided by you directly to us in order to correspond with you and to address any issues you raise about the Service. We do not collect or process any special categories of personal data. We do not undertake automated decision making or profiling on the data which are provided to us.</p>
          
            </div>
          </div>
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">3. Use of Cookies</h2>
              <p class="leading-relaxed">We use cookies and similar technologies like web beacons, pixel tags, or local shared objects (“flash cookies”), to deliver, measure, and improve the Service in various ways. A cookie is a small text file that identifies your computer on our server. Cookies in themselves do not identify the individual user, only the computer being used. Cookies are not used to gather personal information. You may, at any time, configure his computer to accept all cookies, to notify him when a cookie is issued, and to reject the reception of any cookies. The way to do this depends on the web browser being used (please consult the “Help” function of your browser). You may choose to decline all cookies on your computer, but if you do choose to decline cookies, then you may be limited to certain areas of the Service. We also work with a number of analytics partners, who use cookies and similar technologies to help us analyze how users use the Service. By using our Service you agree to our use of cookies.</p>
              <!-- <a class="text-red-500 inline-flex items-center mt-4">Learn More
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a> -->
            </div>
          </div>
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">4. Children's protection</h2>
              <p class="leading-relaxed">If we learn that we’ve collected personal data from a child, we will take reasonable steps to delete it. Parents or legal guardians who believe that we may have collected personal data from a child can submit a request that it be removed, please contact us directly at rcsdevelopers3@gmail.com
                </p>
             
          
            </div>

            <div class="py-8 flex flex-wrap md:flex-nowrap">
            
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">5. Parties we may share your data with</h2>
                  <p class="leading-relaxed">We may share your personal data with our affiliates which may access your personal data to help us develop, maintain and provide our Service and help manage our customer relationships and service providers provide us support for the Service. We may share certain information such as your location, browser and cookie data and other data relating to your use of the Service with our business partners to deliver personalized advertisements that may be of interest to you. We may also share non-personal data with interested third parties to help them understand the usage patterns for certain services or conduct independent research based on such anonymous usage data. Within our Service, there may be links to third-party websites or applications. We are not responsible for the content or privacy compliance of third party websites or applications. You should check those websites or applications for their privacy statements and applicable terms.
                    </p>
                 
              
                </div>
          </div>

          <div class="py-8 flex flex-wrap md:flex-nowrap">
            
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">6. Rights under GDPR</h2>
              <p class="leading-relaxed">If you reside in the EEA under the General Data Protection Regulation (“GDPR”) you have rights to have access to your personal information and ask us to rectify, erase and restrict the use of your personal information. You also have rights to object to your personal information being used, to ask for the transfer of personal information you have made available to us and to withdraw consent to the use of your personal information, the right to restrict our use of information that constitutes your personal data for marketing purposes and lodge a complaint or direct questions to the data protection authority. In the event your personal information is transferred, stored or processed outside of the EEA, we will take all steps reasonably necessary to ensure that your personal information is treated securely and in accordance with this Privacy Policy and GDPR.
                </p>
             
          
            </div>
            </div>
      </div>
      <div class="py-8 flex flex-wrap md:flex-nowrap">
            
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">7. Rights under CCPA</h2>
          <p class="leading-relaxed">The California Consumer Privacy Act (“CCPA”) provides additional rights to California residents to know, delete and opt-out, and requires businesses collecting or disclosing personal information to provide notices and means to exercise rights. We do not generally sell information as the term “sell” is traditionally understood. To the extent “sale” under the CCPA is interpreted to include the activities set out in this Privacy Policy, we will comply with applicable law as to such activity. You have the right to know certain details about our data practices and the right to delete the personal information we have collected from you.
            </p>
         
      
    </div>
  </div>
  <div class="py-8 flex flex-wrap md:flex-nowrap">
            
    <div class="md:flex-grow">
      <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">8. Contact information</h2>
      <p class="leading-relaxed">If you would like to exercise your rights, please send your request at rcsdevelopers3@gmail.com. In the request, please specify which right you are seeking to exercise and the scope of the request. This email may also be used in case you have any questions regarding your personal data use or about this Privacy Policy.
        </p>
     
  
</div>
</div>
    
        
        </div>
      </div>
    </div>
  </section>


  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <div class="centericon2"> <img src="/Images/YT3.png" alt=""></div>
        <span class="ml-3 text-xl">Ytdownloaderr.com</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 YTD —
        <a href="mailto:rcsdevelopers3@gmail.com" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">rcsdevelopers3@gmail.com</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500" href="#">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="#">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="#">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="#">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>

</body>
</html>
