/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Yeseva+One&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@700&family=Yeseva+One&display=swap'); */

  /* @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap'); */



  /* @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Hammersmith+One&display=swap'); */

*{
  padding: 0;
  margin: 0;
}

body{
  color: #fefeff;
  /* color: white; */
  overflow: scroll;
  font-family: 'Fjalla One', sans-serif;
font-family: 'Hammersmith One', sans-serif;
}
.navbar{
  background-color: #00235B;
  /* color: white; */
}
.navbar ul{
  display: flex;
  justify-content: center;
  /* color: white; */
}
.navbar ul li{
  flex-direction: column;
  padding: 1rem 0.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.navbar ul li a{
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  color: white;
 
}
.navbar ul li a:hover{
  background-color: red;
  color: white;
}
.navbar ul li a:active{
  background-color: red;
  color: white;
}
.navbar ul li a:visited{
  color: white;

}
.top-container{
  height: 50vh;
  background-color: #00235B;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#form{
  width: 600px;
  height: 36vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

#form h1{
  font-weight: bolder;
  font-size: x-large;
  background-color: #00235B;
  /* color: red; */
  font: 'San Francisco', Helvetica, Arial, san-serif;
  margin-bottom: 30px;
  
}

#form input{
  width: 400px;
  padding: 24px 40px 20px 40px;
  margin: 0px;
  font-size: 12px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgray;
  color: black;
  font-family: inherit;
  outline: none;
  /* box-shadow: 2px 2px 5px gray; */
}

#form button{
  padding: 20px 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  font-family: inherit;
  /* box-shadow: 2px 3px 5px white; */
  transition: 0.3s ease-out;
}

#form button:hover{
  color:white;
  background-color:  red;
  border: 1px solid  red;
  transform: scale(1.1);
}

.errors{
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: red;
  background-color: #fff8e6;
  border: 1px solid red;
}

.success{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: black;
}

#download-btn{
  width: fit-content;
  color: black;
  padding: 12px;
  color: white;
  background-color: red;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: 1px solid red;
  transition: 0.3s ease-out;
}

#download-btn:hover{
  color:black;
  background-color:  white;
  border: 1px solid  lightgray;
  transform: scale(1.1);
}

@media(max-width:768px){
  .bottom-container{
    width: 90%;
    margin: auto;
  }

  #form, .success{
    text-align: center;
    width: 100%;
  }
}

@media(max-width:480px){
  #form input{
    width: 69%;
  }
  #head2{
    font-size: 15px;
  }
}
#head2{
color: black;
  
font-family: 'Oswald', sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  
}

#logo{
  display: block;
  width: 350px;
  margin: auto;
}

.centericon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centericon img{
  height: 40px;
  width: 40px;
}

.centericon2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centericon2 img{
  height: 70px;
  width: 100px;
}

#logo{
  width: 300px;
}